*.log
#*.zip
*.rar
*.7z
product.h
output/
listing/
.settings/language.settings.xml
*.prefs
.settings/*.*
*.log
*.obj
*.pch
*.tlog
*.cnt
*.bsc
*.exe
*.tmp
*.res
*.plg
*.clw
*.opt
*.d
*.o
*.crf
*.map
*.uvguix.*
